/* Custom variables to use across project */
:root {
  --radius: 5px;
  --shadow: 0 10px 20px hsla(221, 93%, 16%, 0.1);
  --color: hsl(221, 93%, 16%);
  --font: 'Ubuntu', sans-serif;
}

/* General reset and styling */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--font);
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Page styling */
.container {
  max-width: 60em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

/* START - Login page styling */
.login-container {
  max-width: 30rem;
  padding: 0;
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--radius);
  border: 1px solid hsla(221, 93%, 16%, 0.1);
  box-shadow: var(--shadow);
}
.login-container__header,
.login-container__body,
.login-container__footer {
  padding: 1em;
}
.login-container__header {
  font-size: 1rem;
  font-weight: 600;
  background: hsl(220, 33%, 96%);
}
.login-container__footer {
  background: hsl(220, 33%, 96%);
}
.login-container__actions > button:first-child {
  margin-right: 1em;
}
/* END - Login page styling */

/* START - Author page styling */
.question-type-container {
  padding: 1em;
  border: solid 1px hsla(221, 93%, 16%, 0.1);
  border-radius: var(--radius);
}
.mcq-container__title,
.mcq-container__item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.mcq-container__left {
  flex: 0.8;
}
.mcq-container__right {
  flex: 0.2;
  text-align: center;
}
/* END - Author page styling */

/* START - Form elements styling */
.vertical-form label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5em;
}
input[type="radio"] + label {
  margin-left: 0.5em;
}
input[type="text"] {
  font-family: inherit;
  font-size: 1rem;
  height: 3rem;
  max-width: 100%;
  padding: 0 1em;
  border: 1px solid hsl(0, 0%, 95%);
  background:hsl(0, 0%, 100%);
  color: hsla(221, 93%, 16%, 0.7);
  border-radius: var(--radius);
  width: 100%;
}
button {
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg,hsl(215, 100%, 50%),hsl(233, 100%, 54%));
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0.8em 2em;
  border-radius: var(--radius);
}
button:hover {
  background: linear-gradient(90deg,hsl(215, 100%, 50%),hsl(215, 100%, 50%));
}
/* END - Form elements styling */

/* Empty container styling */
.empty-state {
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--radius);
  border: 1px solid hsla(221, 93%, 16%, 0.1);
  box-shadow: var(--shadow);
  padding: 2em;
}
.empty-state__inner {
  color: hsl(0, 0%, 59%);
  padding: 1em;
  border: dashed 1px hsla(221, 93%, 16%, 0.1);
  border-radius: var(--radius);
  text-align: center;
}

/* Utility classes */
.MB1x {
  margin-bottom: 1em; 
}
.MB2x {
  margin-bottom: 2em; 
}
.MB4x {
  margin-bottom: 4em; 
}
.visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}